# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp
*.egg-info/
*.egg

# Virtual environment
venv/

# Data files (optional, if you don't want raw data in Git)
data/raw/

# Environment files
.env
.env.local
.env.*.local

# IDE files
.vscode/
.idea/

# credentials
config/secrets.py